<div class="card">
  <div class="card-body">
    <h1>Todo title</h1>
    <p>Todo text</p>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Mark as completed
      </label>
    </div>
  </div>
  <div class="card-body d-flex justify-content-around">
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
