<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add to do</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form [formGroup]="todoForm">
        <div class="col-12 mb-3">
          <label for="title">Title</label>
          <div class="input-group">
            <input
              id="title"
              class="form-control"
              placeholder="Title"
              maxlength="20"
              formControlName="title"
              [ngClass]="{ 'is-invalid': invalidTitle }"
            />
          </div>
          {{ title?.value?.length }} / 20
          <div class="invalid-feedback" *ngIf="titleIsRequiredMessage">
            {{ titleIsRequiredMessage }}
          </div>
          <div class="invalid-feedback" *ngIf="titleMaxLengthMessage">
            {{ titleMaxLengthMessage }}
          </div>
        </div>
        <div class="col-12 mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            id="description"
            rows="2"
            maxlength="50"
            formControlName="description"
            [ngClass]="{ 'is-invalid': invalidDescription }"
          ></textarea>
          {{ description?.value?.length }} / 50
          <div class="invalid-feedback" *ngIf="descriptionIsRequiredMessage">
            {{ descriptionIsRequiredMessage }}
          </div>
          <div class="invalid-feedback" *ngIf="descriptionMaxLengthMessage">
            {{ descriptionMaxLengthMessage }}
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="save(modal)"
      [disabled]="todoForm.invalid || loading"
    >
      Save
    </button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Add to do
</button>
